.vz-card
  background: $tertiary-color
  margin-bottom: 15px

  .header
    font-size: 12px
    padding: 5px 15px

    .title
      font-weight: bold
      text-transform: uppercase

  .body
    background: rgba(255, 255, 255, 0.1)
    min-height: 300px
