#app-header
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2)
  display: flex
  flex-direction: column
  font-size: 14px

  .subheader
    color: #fff
    display: flex
    flex-direction: row
    padding: 10px

    .title
      margin-right: 15px

  #main-header
    background: $secondary-color
    color: $primary-color

    .logo
      flex: 1

    #wallet-details
      background: #fff
      border-radius: 3px
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3)
      color: #000
      cursor: pointer
      font-size: 12px
      padding: 10px 15px

  #account-header
    background: darken($secondary-color, 10%)
    color: $primary-color

  #menu-header
    background: rgba(0, 0, 0, 0.5)
    text-transform: lowercase

    .title
      opacity: 0.5

      &:hover
        opacity: 1
