@import './foundation/style.sass'

@import './components/card.sass'
@import './components/footer.sass'
@import './components/header.sass'


#app-container
  display: flex
  flex: 1
  flex-direction: column
  height: 100%

  #app-root
    display: flex
    flex: 1
    overflow-y: auto
    padding: 50px 10px 0

a
  &, &:visited
    color: inherit
    text-decoration: none
